<div class="container" fade-in>
    <div class="row">
        <div class="col-md-12">
            <h1>Control Panel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>Governing Boards and Councils</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Student Groups</th>
                    <th>Members</th>
                </tr>
                <tr ng-repeat="g in API.cache.groups | orderBy:'groupprofile.group_type'">
                    <td ng-bind="g.name"></td>
                    <td ng-bind="g.user_set.length"></td>
                    <td ng-bind="g.user_set.length + g.groupprofile.editors.length"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
