<div class="container" fade-in>
    <div class="row">
        <div class="col-md-12">
        <h2>Inter-Council Funds</h2>
            <p>
                In addition to distributing funds to governing boards at FaCU, the joint councils have set up a number of funds to help student groups run their events. Some of these require applications, while others act as pre-approved spending.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2>Facilities and Securities Fund</h2>
                <p>The <a href="http://facu.columbia.edu/documents/funds_facilities_security_summary_v3.pdf">Facilities and Securities Fund</a> represents an effort by the student councils to streamline and simplify the bulk of recurring required facility rental and security staff costs associated with some student-initiated event programming on Columbia's campus. These two funds shift financial responsibility for these costs to the Councils, reducing the burden on individual students and student groups, but in doing so, also reducing the funds allocated to student groups.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2>Inter-Council Agreement</h2>
                <p>The <a href="http://facu.columbia.edu/documents/intercouncil_agreement_20081113.pdf">Inter-Council Agreement</a> serves to foster collaborative efforts among the four undergraduate student councils at Columbia University. In working together, CCSC, ESC, GSSC, and SGA strive to better serve the Columbia &amp; Barnard community. This document, then, contains guidelines for equitable distribution and definition of contributions from involved Councils in all events, policies and other initiatives. </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2>Joint Council Co-sponsorship Committee (JCCC)</h2>
                <p>...</p>
            </div>
        </div>
    </div>

</div>
