<div class="row" style="margin-top: 1em">
    <div class="col-md-12">
        <h3>Historical Allocations ($)</h3>
        <div ac-chart="'area'" ac-data="db.plot.allocations" ac-config="{'legend': {'display': true, 'position': 'right'}}" class="chart"></div>
    </div>
    <div class="col-md-12">
        <h3>Historical Council Funding Ratios (%)</h3>
        <div ac-chart="'line'" ac-data="db.plot.ratios" ac-config="{'legend': {'display': true, 'position': 'right'}}" class="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Excel Spreedsheets</h3>
        <a href="http://facu.columbia.edu/documents/FaCU_Allocation_History%2810-11%29.xls">Allocation History (2010-2011)</a>
    </div>
</div>
