<div class="container" fade-in>

    <div class="row">
        <div class="col-md-12">
            <h1>Columbia Joint Finance Committee (JCCC)</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>JCCC Procedure</h2>
            <hr>
            <p><strong>INTRODUCTION</strong></p>

            <p>In order to increase campus unity and to better serve student groups, the four
                undergraduate student councils of Columbia University—Columbia College Student
                Council (CCSC), Engineering Student Council (ESC), General Studies Student Council
                (GSSC), and the Student Government Association (SGA)—created a joint committee in
                the Fall of 2010: the <strong>Joint Council Co-Sponsorship Committee (JCCC)</strong>.
                This Committee is continuing for the 2014-2015 year.</p>

            <p>The goal of the Committee has not changed: the enrichment of student life
                through financial support of established student clubs and organizations and the
                streamlining of the bureaucratic processes for accessing such funds. Specifically,
                the JCCC aims to fund new initiatives and those that their respective governing
                boards are unable to support. As such, the JCCC asks student groups to first
                approach their respective governing board for a co-sponsorship or appeal prior to
                requesting Council support. (Consequently, groups are asked to provide the signature
                of an executive member of their respective governing board or their group’s
                representative to said governing board.)</p>

            <p><em>Please note that <span style="text-decoration: underline;">all</span>
                co-sponsorship requests to any combination of Councils must go through the Joint
                Council Co-Sponsorship Committee, even when the request is for only one of the four
                Councils.</em></p>

            <p><strong>HOW TO OBTAIN FUNDING FROM THE JCCC</strong></p>

            <p>First, request funding from your governing board. If they grant your request—great!
                If not, or if the funding is insufficient for your needs, then click JCCC on the top bar
                above and start the application.
            </p>

            <p>There are two required parts of your application: first, the form that you fill out
                on this website, and second, a detailed budget with your expenses, income, and other
                financial information. You can attach your budget, as well as any other documents,
                before submitting your application.</p>

            <p>Before the JCCC will consider your application, your governing board representative
                must first endorse it. Please reach out to your representative once you have filled
                out the application!</p>

            <p>It is acceptable to submit event and budget
                forms in a different format as long as they include all the information required by
                the original application. Once your application is accepted, you will be asked to
                make a presentation at the weekly JCCC meeting on Sundays at 5:00 PM – 6:00 PM in
                the Student Government Office on Lerner 5. The Committee will then make
                recommendations to the Councils,
                who will make a final decision.</p>

            <p>The process directly pertaining to submission of the application and notification is
                explained in detail in the following table:</p>
            <table border="1" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td valign="top" width="167">
                        <p align="right"><strong>Friday</strong></p>
                    </td>
                    <td valign="top" width="120"><strong>5:00 PM</strong></td>
                    <td valign="top" width="456">Deadline to submit application and any
                        supplementary documentation.
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="167">
                        <p align="right"><strong>Saturday</strong></p>
                    </td>
                    <td valign="top" width="120"><strong>12:00 PM</strong></td>
                    <td valign="top" width="456">Receive an email from the Chair of the JCCC
                        (rotates monthly) that gives a presentation time on Sunday between 5:00 PM
                        and 6:00 PM.
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="167">
                        <p align="right"><strong>Sunday</strong></p>
                    </td>
                    <td valign="top" width="120"><strong>5:00 – 6:00 PM</strong></td>
                    <td valign="top" width="456">Attend scheduled presentation slot in the SGO.
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="167">
                        <p align="right"><strong><em>following </em></strong><strong>Wednesday
                            <em></em></strong></p>
                    </td>
                    <td valign="top" width="120"><strong>5:00 PM</strong></td>
                    <td valign="top" width="456">Receive notification of total amount of
                        co-sponsorship.
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="167">
                        <p align="right">
                            <strong><em>following </em></strong><strong>Thursday</strong></p>
                    </td>
                    <td valign="top" width="120"><strong>12:00 PM</strong></td>
                    <td valign="top" width="456">The Chair of the JCCC will submit for the transfer
                        of funds from the Chair’s Council account to the group’s account by this
                        time.
                    </td>
                </tr>
                </tbody>
            </table>
            <p><em>Please note that on weeks when the CCSC, ESC, GSSC, or SGA do not meet, the
                co-sponsorship process will be delayed, and the process cannot be completed until
                all four Councils have met following the group’s presentation to the JCCC.</em></p>

            <p><strong>INTERNAL PROCESS</strong></p>

            <p>The hearings will be chaired by one of the Council treasurers, a role which will
                rotate on a monthly basis by alphabetical order of Council name, beginning with CCSC
                in the month of September 2011. The Chair will be responsible for:</p>
            <ul>
                <li>Moderation and facilitation of weekly meetings,</li>
                <li>Appointing a Secretary from his or her Council to take meeting notes.</li>
                <li>Notification to the group of the JCCC decision, and</li>
                <li>Payment to the group from the Chair’s Council account. (<em>A running tab of all
                    payments made will be kept by the Chair of and the accounts will be settled at
                    the end of every month.</em>)
                </li>
            </ul>
            <p>Committee Chairs:
            <ul>
                <li>September/October: ESC</li>
                <li>November/December and January: CCSC</li>
                <li>February/March: GSSC</li>
                <li>April/May: SGA</li>
            </ul>
            </p>

            <p><strong>Procedure:</strong></p>
            <ol>
                <li>Council Treasurers and their respective Co-Sponsorship Committees will review
                    the Joint Council Co-Sponsorship Applications as they are submitted.
                </li>
                <li>The student group will attend the weekly JCCC meeting and make one presentation
                    to the Co-Sponsorship Committees of <em>all four Councils</em>.
                </li>
                <li>The student group will be asked to leave so that the JCCC can conduct Round One
                    of deliberation and voting. Following general discussion, moderated by the
                    Chair, each Council’s Co-Sponsorship Committee will vote on an initial amount.
                </li>
                <li>Once the results of Round One are shared, the Chair conducts Round Two of
                    deliberation and voting. (This second round was created for cases when a Council
                    votes to not co-sponsor an event in the first round. In such an instance, the
                    Councils who <em>did</em> choose to co-sponsor the event <em>may</em>
                    recalibrate their co-sponsorship amount so as to cover the gap left by the
                    Council which did not co-sponsor the event.)
                </li>
                <li>Once Round Two of voting concludes, the internal JCCC amount (and division
                    between Councils) is decided and each Council Treasurer must then take these
                    numbers to his or her respective general Council meeting for full Council
                    approval.
                </li>
                <li>Funding will be finalized when all four Councils have passed a vote on the
                    co-sponsorship.
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>JCCC Constitution</h2>
            <hr>
            <h3>Article 1: Mission Statement</h3>
            <h4>Section 1.</h4>

            <p>
                The mission of the JCCC is to provide funding for a student group under extenuating
                financial circumstances, including unforeseen travel costs, or for a student group
                that wishes to start new programming but doesn’t have extra funds to do so. The JCCC
                exists to provide emergency funding for student groups on campus.
            </p>

            <h3>Article 2: Membership and Duties</h3>
            <h4>Section 1. Makeup</h4>

            <p>
                The VP of Finance of each council (CCSC, ESC, GSSC, SGA) will sit on the JCCC, with
                additional delegation for each council to be decided upon by each VP Finance.
            </p>

            <h4>Section 2. Chairing</h4>

            <p>
                The VPs of Finance will rotate chair duty every two-three months. The schedule for
                2014-15 is:
            </p>
            <ul>
                <li>September/October: ESC</li>
                <li>November/December and January: CCSC</li>
                <li>February/March: GSSC</li>
                <li>April/May: SGA</li>
            </ul>
            <p>
                The Chair is in charge of setting the weekly meeting agenda and facilitating the
                meetings. The Chair serves as primary contact person between the JCCC and student
                groups and is responsible for all custodial duties in relation to the council.
            </p>

            <h4>Section 3. Voting</h4>

            <p>
                Each council has one vote. Intra-council voting will be decided upon by each
                council’s delegation. No council can be forced to contribute funds if it votes
                against a recommendation.
            </p>

            <p>
                If the general councils cannot agree, then discussion may continue over email for
                the sake of expediency.
            </p>

            <h4>Section 4. Conflicts of Interest</h4>

            <p>
                If a delegate is a member of a student group asking for funds from the JCCC, that
                delegate must excuse him/herself from the voting.
            </p>

            <h3>Article 3: Meetings</h3>

            <h4>Section 1. Presentations</h4>

            <p>
                Upon receiving applications, the VPs will schedule groups to come in to present
                their applications to the council and answer questions. No presentation and related
                questioning shall exceed 10 minutes per group.
            </p>

            <h4>Section 2. Voting</h4>

            <p>
                Voting may be done after each presentation or at the end of the meeting in a closed
                session. Three of the four treasurers must be in agreement to begin a vote on any
                one presentation.
            </p>

            <h3>Article 4: Applying</h3>

            <h4>Section 1. Application</h4>

            <p>
                Each group must submit an application at <a href="http://funding.columbiaesc.com">funding.columbiaesc.com</a>.
                This application will be the basis of the group's presentation to the JCCC.
            </p>

            <h4>Section 2. Eligibility</h4>

            <p>
                Groups that are recognized by at least one of the five governing boards are eligible
                to apply to the JCCC. Groups that are not recognized by a governing board but are
                affiliated with Columbia University (i.e. under SDA, Res Life, etc.) may also apply.
                Such groups should find a recognized student group to sponsor their application.
                All other groups or individuals are ineligible.
            </p>

            <p>
                No JCCC funds may be used for charitable donations. If a group wishes to make a
                charitable donation with their event’s funding, they must first reimburse all funds
                received from the JCCC.
            </p>

            <h3>Article 5: Funding Process</h3>
            <h4>Section 1. Ratio</h4>

            <p>
                Councils who vote in favor of funding a group shall split the funds by ratio of each
                school’s student body. Exclusions to this may be decided upon at the discretion of
                the VPs of Finance.
            </p>

            <h4>Section 2: Payment Transfers</h4>

            <p>
                At a discretionary basis - but no less than once per semester - each VP Finance will
                transfer the aggregate funds they owe to a JCCC account. The Chair will then
                allocate the funds from the JCCC account into group accounts that have been awarded
                funding.
            </p>

            <p>
                No student group may receive JCCC funding that exceeds their JCCC allocation or
                final total costs (whichever is less). Student groups must give all relevant
                receipts to the Chair before receiving funds or at the discretion of the VP
                Finances.
            </p>

            <p>
                JCCC reserves the right to report any incidents of financial dishonesty to the
                University’s Judicial Board.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Guidelines and Policies 2014-2015*</h2>
            <hr>

            <ol>
                <li>Travel expenses
                    <ol>
                        <li>Conferences, for a Columbia team as (off-campus) visitors:
                            <ol>
                                <li>Allocation can (within reason) be used for the full amount of
                                    the registration fees
                                </li>
                                <li>Allocation can be used for, at most, 50% of cost-effective
                                    transportation and lodging expenses
                                </li>
                                <li>Allocation cannot be used for food for traveling groups while
                                    off-campus.
                                </li>
                            </ol>
                        </li>
                        <li>Sporting events</li>
                    </ol>
                </li>
                <li>Food and drink
                    <ol>
                        <li>$2.50 per attendee for a study break or snack event</li>
                        <li>$5.00 per attendee for sit-down dinners or other event werein food is a
                            primary focus of the event
                        </li>
                        <li>$7.50 per attendee for formal banquet-style meals, usually only once a
                            semester
                        </li>
                    </ol>
                </li>
                <li>Charity and events/donation policy: see above</li>
                <li>Publicity
                    <ol>
                        <li>Allocation cannot be spent on publicity for events with attendance of 30
                            or fewer.
                        </li>
                        <li>No more than $15.00 may be spent on publicity for events with between 31
                            and 100 projected attendees.
                        </li>
                    </ol>
                </li>
                <li>Prohibited items
                    <ol>
                        <li>T-shirts or apparel items for groups (except those which will be used
                            for several years as costumes or uniforms)
                        </li>
                        <li>Events which fall outside the academic term</li>
                        <li>Awards for contests or tournaments, gifts or direct donations to charity
                            (though allocation may be spent toward the execution of the event).
                        </li>
                        <li>Online advertising (such as Facebook ads) or advertisements which do not
                            reach Columbia undergraduates student body.
                        </li>
                        <li>Web space</li>
                        <li>Banners</li>
                        <li>Photographers, video, or camera operators</li>
                        <li>Alcohol and tobacco products</li>
                        <li>Payments to other groups (such as for performance fees, membership fees,
                            or consulting fees).
                        </li>
                    </ol>
                </li>
            </ol>

            <p>*All guidelines and procedures are subject to the discretion of the four VP
                Finances.</p>
        </div>
    </div>
</div>
