<div class="container" fade-in>

    <div class="row">
        <div class="col-md-12">
            <h1>Columbia Joint Finance Committee (JCCC) Constitution</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Article 1: Mission Statement</h2>
            <h3>Section 1.</h3>

            <p>
                The mission of the JCCC is to provide funding for a student group under extenuating
                financial circumstances, including unforeseen travel costs, or for a student group
                that wishes to start new programming but doesn’t have extra funds to do so. The JCCC
                exists to provide emergency funding for student groups on campus.
            </p>

            <h2>Article 2: Membership and Duties</h2>
            <h3>Section 1. Makeup</h3>

            <p>
                The VP of Finance of each council (CCSC, ESC, GSSC, SGA) will sit on the JCCC, with
                additional delegation for each council to be decided upon by each VP Finance.
            </p>

            <h3>Section 2. Chairing</h3>

            <p>
                The VPs of Finance will rotate chair duty every two-three months. The schedule for
                2014-15 is:
            </p>
            <ul>
                <li>September/October: ESC</li>
                <li>November/December and January: CCSC</li>
                <li>February/March: GSSC</li>
                <li>April/May: SGA</li>
            </ul>
            <p>
                The Chair is in charge of setting the weekly meeting agenda and facilitating the
                meetings. The Chair serves as primary contact person between the JCCC and student
                groups and is responsible for all custodial duties in relation to the council.
            </p>

            <h3>Section 3. Voting</h3>

            <p>
                Each council has one vote. Intra-council voting will be decided upon by each
                council’s delegation. No council can be forced to contribute funds if it votes
                against a recommendation.
            </p>

            <p>
                If the general councils cannot agree, then discussion may continue over email for
                the sake of expediency.
            </p>

            <h3>Section 4. Conflicts of Interest</h3>

            <p>
                If a delegate is a member of a student group asking for funds from the JCCC, that
                delegate must excuse him/herself from the voting.
            </p>

            <h2>Article 3: Meetings</h2>

            <h3>Section 1. Presentations</h3>

            <p>
                Upon receiving applications, the VPs will schedule groups to come in to present
                their applications to the council and answer questions. No presentation and related
                questioning shall exceed 10 minutes per group.
            </p>

            <h3>Section 2. Voting</h3>

            <p>
                Voting may be done after each presentation or at the end of the meeting in a closed
                session. Three of the four treasurers must be in agreement to begin a vote on any
                one presentation.
            </p>

            <h2>Article 4: Applying</h2>

            <h3>Section 1. Application</h3>

            <p>
                Each group must submit an application at <a href="http://funding.columbiaesc.com">funding.columbiaesc.com</a>.
                This application will be the basis of the group's presentation to the JCCC.
            </p>

            <h3>Section 2. Eligibility</h3>

            <p>
                Groups that are recognized by at least one of the five governing boards are eligible
                to apply to the JCCC. Groups that are not recognized by a governing board but are
                affiliated with Columbia University (i.e. under SDA, Res Life, etc.) may also apply.
                Such groups should find a recognized student group to sponsor their application.
                All other groups or individuals are ineligible.
            </p>

            <p>
                No JCCC funds may be used for charitable donations. If a group wishes to make a
                charitable donation with their event’s funding, they must first reimburse all funds
                received from the JCCC.
            </p>

            <h2>Article 5: Funding Process</h2>
            <h3>Section 1. Ratio</h3>

            <p>
                Councils who vote in favor of funding a group shall split the funds by ratio of each
                school’s student body. Exclusions to this may be decided upon at the discretion of
                the VPs of Finance.
            </p>

            <h3>Section 2: Payment Transfers</h3>

            <p>
                At a discretionary basis - but no less than once per semester - each VP Finance will
                transfer the aggregate funds they owe to a JCCC account. The Chair will then
                allocate the funds from the JCCC account into group accounts that have been awarded
                funding.
            </p>

            <p>
                No student group may receive JCCC funding that exceeds their JCCC allocation or
                final total costs (whichever is less). Student groups must give all relevant
                receipts to the Chair before receiving funds or at the discretion of the VP
                Finances.
            </p>

            <p>
                JCCC reserves the right to report any incidents of financial dishonesty to the
                University’s Judicial Board.
            </p>
        </div>
    </div>
</div>
