<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

{% load staticfiles %}
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Joint Council Cosponsorship Committee</title>
    <link REL="SHORTCUT ICON" HREF="favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <style>
        body {
            padding-top: 55px;
            padding-bottom: 75px;
        }
    </style>

    <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "css/vendor/ng-grid/ng-grid.css" %}">

    <!-- TODO needed? -->
    <link href="{% static "css/vendor/angularstrap/styles.css" %}" rel="stylesheet">

    <link rel="stylesheet"
          href="{% static "css/vendor/angularstrap/bootstrap-additions.min.css" %}">

    <!-- <link rel="stylesheet" href="css/vendor/animate/animate.css"> -->

    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}"/>

    <script src="{% static "js/vendor/modernizr/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>


</head>

<body ng-app="facu" ng-controller="baseCtrl">

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- bootstrap navbar -->
{% include "navbar-top.html" %}

{% verbatim %}
<div class="notifications">
    <div ng-repeat="msg in messages" ng-cloak>
        <div class="alert alert-{{ msg.type }}"> {{ msg.text }}
            <span class="glyphicon glyphicon-remove pull-right" ng-click="removeMessage($index);" style="cursor: pointer;"></span>
        </div>
    </div>
</div>
<!-- ng routes hook -->
<div style="margin-bottom: 200px;" ng-view></div>

{% endverbatim %}

<!-- footer -->
{% include "navbar-bottom.html" %}

<script src="{% static "js/vendor/jquery/jquery-2.1.1.min.js" %}"></script>
<script>window.jQuery || document.write('<script src="//code.jquery.com/jquery-2.1.1.min.js"><\/script>')</script>

<script src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>

<!-- TODO localize -->
<script src="{% static "js/vendor/jquery-ui-1.11.1/jquery-ui.min.js" %}"></script>
<script>
    FileAPI = {
        jsPath: '{% static "js/vendor/angular-file-upload/" %}',
        staticPath: '{% static "js/vendor/angular-file-upload/" %}'
    };
</script>
<script src="{% static "js/vendor/papaparse/papaparse.min.js" %}"></script>
<script src="{% static "js/vendor/angular-file-upload/angular-file-upload-shim.min.js" %}"></script>
<script src="{% static "js/vendor/angular/angular.min.js" %}"></script>
<script src="{% static "js/vendor/angular-file-upload/angular-file-upload.min.js" %}"></script>

<script src="{% static "js/vendor/ng-grid/ng-grid.js" %}"></script>

<!-- enables rendering of injected html -->
<!-- TODO localize -->
<script src="{% static "js/vendor/angular/angular-sanitize.js" %}"></script>
<script src="{% static "js/vendor/angular/angular-route.js" %}"></script>
<script src="{% static "js/vendor/d3/d3.min.js" %}"></script>
<script src="{% static "js/vendor/angularcharts/angular-charts.min.js" %}"></script>

<!-- angular strap -->
<!-- TODO move from cdn to local -->
<script src="{% static "js/vendor/underscore/underscore-min.js" %}"></script>

<!-- ACE Editor -->
<!-- <script src="js/vendor/ui-ace/ace.js"></script> -->
<!-- <script src="js/vendor/ui-ace/ui-ace.js"></script> -->
<!-- <script src="https://raw.github.com/ajaxorg/ace-builds/master/src/theme-xcode.js"></script> -->

<!-- TODO consider using NPM/Bower to install third party libs -->

<!-- TODO needed? -->
<script src="{% static "js/vendor/prettify/prettify.js" %}"></script>
<script src="{% static "js/vendor/angularstrap/angular-strap.min.js" %}"></script>
<script src="{% static "js/vendor/angularstrap/angular-strap.tpl.min.js" %}"></script>

<!--  TODO compile/optimise these during build -->
<script>
    var DJANGO_MEDIA_URL = '{% get_media_prefix %}';
    var DJANGO_STATIC_URL = '{% get_static_prefix %}';
</script>
<script src="{% static "js/init.js" %}"></script>
<script src="{% static "js/services/services.js" %}"></script>

<script src="{% static "js/controllers/baseCtrl.js" %}"></script>
<script src="{% static "js/controllers/adminCtrl.js" %}"></script>
<script src="{% static "js/controllers/membersCtrl.js" %}"></script>
<script src="{% static "js/controllers/groupCtrl.js" %}"></script>
<script src="{% static "js/controllers/studentGroupCtrl.js" %}"></script>
<script src="{% static "js/controllers/allocationCtrl.js" %}"></script>
<script src="{% static "js/controllers/jcccCtrl.js" %}"></script>
<script src="{% static "js/controllers/cifCtrl.js" %}"></script>
<script src="{% static "js/controllers/escProjCtrl.js" %}"></script>
<script src="{% static "js/controllers/bulkCtrl.js" %}"></script>
<script src="{% static "js/filters/filters.js" %}"></script>
<script src="{% static "js/directives/fadeInDirective.js" %}"></script>
<script src="{% static "js/directives/stopEventDirective.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

</body>
</html>
