<div class="container" fade-in>

    <div class="row">
        <div class="col-md-12">
            <h1 ng-if="db.current_group.id">
                Editing {{ db.current_group.name }}
            </h1>

            <h1 ng-if="!db.current_group.id">
                New Group
            </h1>
        </div>
    </div>
    <div class="row">
        <form role="form" name="group_form" ng-submit="saveGroup()" novalidate>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="name">Group name</label>
                    <input name="name" type="text" class="form-control" id="group-name"
                           ng-model="db.current_group.name" ng-disabled="!can_edit()" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="governing_board">Governing board</label>
                    <select name="governing_board" class="form-control" id="group-governing_board"
                            ng-model="db.current_group.governing_board" ng-options="g.id as g.name for g in db.governing_boards"
                            ng-disabled="!can_edit()" required>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="mission">Group mission</label>
                    <textarea name="mission" class="form-control" id="group-mission"
                            ng-model="db.current_group.mission"
                            ng-disabled="!can_edit()" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="proportion_cc">% CC</label>
                    <input type="number" name="proportion_cc" class="form-control" id="group-proportion_cc"
                           ng-model="db.current_group.proportion_cc"
                           ng-disabled="!can_edit()">
                </div>
                <div class="col-md-2">
                    <label for="proportion_bc">% BC</label>
                    <input type="number" name="proportion_bc" class="form-control" id="group-proportion_bc"
                           ng-model="db.current_group.proportion_bc"
                           ng-disabled="!can_edit()">
                </div>
                <div class="col-md-2">
                    <label for="proportion_seas">% SEAS</label>
                    <input type="number" name="proportion_seas" class="form-control" id="group-proportion_seas"
                           ng-model="db.current_group.proportion_seas"
                           ng-disabled="!can_edit()">
                </div>
                <div class="col-md-2">
                    <label for="proportion_gs">% GS</label>
                    <input type="number" name="proportion_gs" class="form-control" id="group-proportion_gs"
                           ng-model="db.current_group.proportion_gs"
                           ng-disabled="!can_edit()">
                </div>
                <div class="col-md-2">
                    <label for="proportion_grad">% Grad</label>
                    <input type="number" name="proportion_grad" class="form-control" id="group-proportion_grad"
                           ng-model="db.current_group.proportion_grad"
                           ng-disabled="!can_edit()">
                </div>
                <div class="col-md-2">
                    <label for="proportion_cc">Total</label>
                    <input type="number" class="form-control" id="group-total"
                           placeholder="{{ db.current_group.proportion_cc + db.current_group.proportion_bc + db.current_group.proportion_seas + db.current_group.proportion_gs + db.current_group.proportion_grad }}"
                           disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="sga_acct_number">SGA account number</label>
                    <input type="text" name="sga_acct_number" class="form-control" id="group-sga_acct_number"
                              ng-model="db.current_group.sga_acct_number"
                              ng-disabled="!can_edit()">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="cu_acct_number">Columbia account number</label>
                    <input type="text" name="cu_acct_number" class="form-control" id="group-cu_acct_number"
                           ng-model="db.current_group.cu_acct_number"
                           ng-disabled="!can_edit()">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="cu_dept_number">Columbia department number</label>
                    <input type="text" name="cu_dept_number" class="form-control" id="group-cu_dept_number"
                           ng-model="db.current_group.cu_dept_number"
                           ng-disabled="!can_edit()">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label for="cu_proj_number">Columbia project number</label>
                    <input type="text" name="cu_proj_number" class="form-control" id="group-cu_proj_number"
                           ng-model="db.current_group.cu_proj_number"
                           ng-disabled="!can_edit()">
                </div>
            </div>
        </form>
        <div class="col-md-12">
            <div class="btn-group">
                <a class="btn" ng-class="{
                        'btn-success': group_form.$valid,
                        'btn-danger': group_form.$invalid
                    }" ng-click="$event.preventDefault(); saveGroup()" ng-disable="!can_edit() && group_form.$invalid">Save</a>
            </div>
        </div>
    </div>
</div>
