<div class="container" fade-in>
    <div class="row">
        <div class="col-md-12">
            <h1>Student Groups <span ng-show="filter_group_id">({{ db.groups_by_id[filter_group_id].name }})</span></h1>
            <a class="btn btn-default" href="#/student_groups/new" ng-show="can_add_group()">Add new group</a>
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Editors</th>
                    <th>Governing Board</th>
                    <th>Allocation</th>
                </tr>
                <tr ng-repeat="sg in db.current_groups">
                    <td>
                        <a ng-href="#/student_groups/{{ sg.id }}">{{ sg.name }}</a>
                    </td>
                    <td>
                        <a ng-href="#/student_groups/{{ sg.id }}/members">{{ sg.editors.length }}</a>
                    </td>
                    <td>
                        <a ng-href="#/student_groups?governing_board__id={{ sg.governing_board }}">{{ db.groups_by_id[sg.governing_board].name }}</a>
                    </td>
                    <td>
                        <a ng-href="#/allocations/?recipient__id={{ sg.id }}">{{ sg.allocation.value | currency }} ({{ sg.allocation.year }})</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
