<div class="container" fade-in>
    <div class="row">
        <div class="col-md-12">
            <h1 ng-bind="db.current_group.name"></h1>
            <h2 ng-bind="db.groups_by_id[db.current_group.governing_board].name"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Mission</h3>
            <p>{{ db.current_group.mission }}</p>
        </div>
        <div class="col-md-6">
            <a class="btn btn-default" href="#/student_groups/{{ db.current_group.id }}/edit">Edit</a>
            <a class="btn btn-default" href="#/student_groups/{{ db.current_group.id }}/members">Members</a>
            <div ac-chart="'pie'"
                 ac-data="plot_data"
                 ac-config="plot_config"
                 class="chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Allocations</h3>
            <table class="table table-condensed">
                <tr><th>Year</th><th>Amount</th></tr>
                <tr ng-repeat="alloc in db.current_group.allocations">
                    <td>{{ alloc.year }}</td>
                    <td>{{ alloc.value | currency }}</td>
                </tr>

            </table>
            <h3>Account Numbers</h3>
            <p ng-show="db.current_group.sga_acct_number">
                <strong>GBB</strong>: {{ db.current_group.sga_acct_number }}
            </p>
            <p ng-show="db.current_group.cu_acct_number">
                <strong>CU (account, department, project):</strong>
                {{ db.current_group.cu_acct_number }},
                {{ db.current_group.cu_dept_number }},
                {{ db.current_group.cu_proj_number }}
            </p>
        </div>
    </div>
</div>
