<div class="container" fade-in>

    <div class="row">
        <div class="col-md-12">
            <h1 ng-if="db.current_application.id">
                Editing JCCC Application #{{ db.current_application.id }}
            </h1>

            <h1 ng-if="!db.current_application.id">
                New JCCC Application
            </h1>
        </div>
    </div>
    <div class="row">
        <form role="form" name="jccc_form" ng-submit="saveApplication()" novalidate>
            <fieldset>
                <legend>Application info</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="title">Title</label>
                        <input name="title" type="text" class="form-control" id="jccc-title"
                               ng-model="db.current_application.title" ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="status">Status</label>
                        <select name="status" class="form-control" id="jccc-status"
                                ng-model="db.current_application.status" disabled>
                            <option value="PEND">Pending</option>
                            <option value="SUBM">Submitted</option>
                            <option value="SCHD">Scheduled</option>
                            <option value="APRV">Approved</option>
                            <option value="DENY">Denied</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="allocation">Current allocation</label>
                        <input name="allocation" type="text" class="form-control"
                               id="jccc-allocation" placeholder="Select the requesting group first"
                               ng-model="db.current_group_allocation" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="balance">Current balance</label>
                        <input name="balance" type="number" class="form-control"
                               id="jccc-balance"
                               ng-model="db.current_application.current_balance"
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="requested_amount">Requested amount</label>
                        <input name="requested_amount" type="number" class="form-control"
                               id="jccc-requested-amount"
                               ng-model="db.current_application.requested_amount"
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="approved_amount">Approved amount</label>
                        <input name="approved_amount" type="number" class="form-control"
                               id="jccc-approved-amount"
                               ng-model="db.current_application.approved_amount"
                               placeholder="This application has not yet been approved"
                               ng-disabled="!can_edit()" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="requester">Requesting Group</label>
                        <select name="requester" class="form-control" id="jccc-requester"
                                ng-model="db.current_application.requester" ng-options="g.id as g.name for g in db.student_groups"
                                ng-disabled="!can_edit()" required>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="funder">Funders</label>
                        <select name="funder" class="form-control" id="jccc-funder"
                                ng-model="db.current_application.funder" ng-options="g.id as g.name for g in db.councils"
                                ng-disabled="!can_edit()" required multiple>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label for="contact">Contact</label>
                        <select name="contact" class="form-control" id="jccc-contact"
                                ng-model="db.current_application.contact" ng-options="u.id as u.email for u in db.users"
                                ng-disabled="!can_edit()" required>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label for="contact_phone">Contact Phone</label>
                        <input name="contact_phone" type="text" class="form-control"
                               id="jccc-contact_phone"
                               ng-model="db.current_application.contact_phone" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label for="contact_position">Contact Position</label>
                        <input name="contact_position" type="text" class="form-control"
                               id="jccc-contact_position"
                               ng-model="db.current_application.contact_position" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="editors">Editors (Columbia emails, comma-separated)</label>
                        <input name="editors" ng-list="," ng-trim="true" class="form-control"
                               id="jccc-editors" ng-model="db.current_application.editors"
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Event Info</legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="event_name">Event Name</label>
                        <input name="event_name" type="text" class="form-control"
                               id="jccc-event_name" ng-model="db.current_application.event_name"
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5">
                        <label for="event_date">Event Date</label>
                        <input name="event_date" type="text" size="10" class="form-control"
                               id="jccc-event_time" ng-model="db.current_application.event_time"
                               placeholder="Date" bs-datepicker
                               ng-disabled="!can_edit()" required>
                    </div>
                    <div class="col-md-5">
                        <label for="event_time">Event Time</label>
                        <input name="event_time" type="text" size="8" class="form-control"
                               id="jccc-event_time" ng-model="db.current_application.event_time"
                               placeholder="Time" bs-timepicker
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                        <label class="checkbox">
                            <input type="checkbox"
                                   name="event_recurring"
                                   ng-model="db.current_application.event_recurring"
                                   ng-disabled="!can_edit()" >
                            Recurring Event
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="event_location">Event Location</label>
                        <input name="event_location" type="text" class="form-control"
                               id="jccc-event_location"
                               ng-model="db.current_application.event_location"
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="event_attendance">Event Attendance</label>
                        <input name="event_attendance" type="number" class="form-control"
                               id="jccc-event_attendance"
                               ng-model="db.current_application.event_attendance"
                               ng-disabled="!can_edit()" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="event_description">Event Description</label>
                        <textarea class="form-control" name="event_description"
                                  ng-model="db.current_application.event_description"
                                  ng-disabled="!can_edit()" >

                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="event_audience">Who is the audience of this event?</label>
                        <textarea class="form-control" name="event_audience"
                                  ng-model="db.current_application.event_audience"
                                  ng-disabled="!can_edit()" >

                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="event_advertisement">How are you advertising this event?</label>
                        <textarea class="form-control" name="event_advertisement"
                                  ng-model="db.current_application.event_advertisement"
                                  ng-disabled="!can_edit()" >

                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="alternate_funding">What other funding options have you
                            considered?</label>
                        <textarea class="form-control" name="alternate_funding"
                                  ng-model="db.current_application.alternate_funding"
                                  ng-disabled="!can_edit()" >

                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="alternate_plans">What will you do if we cannot fund you?</label>
                        <textarea class="form-control" name="alternate_plans"
                                  ng-model="db.current_application.alternate_plans"
                                  ng-disabled="!can_edit()" >

                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="advisor_advice">What has you club advisor advised you to
                            do?</label>
                        <textarea class="form-control" name="advisor_advice"
                                  ng-model="db.current_application.advisor_advice"
                                  ng-disabled="!can_edit()" >

                        </textarea>
                    </div>
                </div>

            </fieldset>
        </form>

        <div class="col-md-12">
            <p ng-if="db.current_application.endorsement">{{ db.current_application.endorsement }}</p>

            <p ng-if="!db.current_application.endorsement">This application has not yet been
                endorsed.</p>
        </div>
        <div class="col-md-12">
            <div class="btn-group">
                <a class="btn" ng-class="{
                    'btn-success': jccc_form.$valid,
                    'btn-danger': jccc_form.$invalid
                }" ng-click="$event.preventDefault(); saveApplication()" ng-disable="!can_edit() || jccc_form.$invalid">Save</a>
            </div>
        </div>
    </div>

</div>
