<div class="container" fade-in>

    <div class="row">
        <div class="col-md-12">
            <h1>About the JCCC</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Requester</th>
                    <th>Current balance</th>
                    <th>Requested amount</th>
                    <th>Scheduled time</th>
                    <th>Updated time</th>
                    <th>Approved amount</th>
                </tr>
                <tr ng-repeat="app in applications">
                    <td><a href="#/jccc/{{ app.id }}">{{ app.id }}</a></td>
                    <td>{{ app.status }}</td>
                    <td>{{ db.student_groups_by_id[app.requester].name }}</td>
                    <td>{{ app.current_balance | currency }}</td>
                    <td>{{ app.requested_amount | currency }}</td>
                    <td>{{ app.scheduled_time | date:'medium' }}</td>
                    <td>{{ app.updated_time | date:'medium' }}</td>
                    <td>
                        <span ng-if="app.status == 'APRV'">
                            {{ app.approved_amount | currency }}
                        </span>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
