<div class="container" fade-in>

    <div class="row">
        <div class="col-md-12">
            <h1>JCCC Application #{{ db.current_application.id }}</h1>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>Title</th>
                <td>{{ db.current_application.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ db.current_application.status }}</td>
            </tr>
            <tr>
                <th>Requester</th>
                <td>
                    <a href="#/student_groups/{{ db.current_application.requester }}" target="_blank">
                        {{ db.student_groups_by_id[db.current_application.requester].name }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Allocation ({{ db.student_groups_by_id[db.current_application.requester].allocation.year }})</th>
                <td>{{ db.student_groups_by_id[db.current_application.requester].allocation.value | currency }}</td>
            </tr>
            <tr>
                <th>Requested amount</th>
                <td>{{ db.current_application.requested_amount | currency }}</td>
            </tr>
            <tr>
                <th>Current balance</th>
                <td>{{ db.current_application.current_balance | currency }}</td>
            </tr>
            <tr>
                <th>Updated time</th>
                <td>{{ db.updated_time | date:'medium' }}</td>
            </tr>
            <tr>
                <th>Created time</th>
                <td>{{ db.created_time | date:'medium' }}</td>
            </tr>
            <tr>
                <th>Scheduled time</th>
                <td>{{ db.scheduled_time | date:'medium' }}</td>
            </tr>
            <tr ng-show="db.current_application.status == 'APRV'">
                <th>Approved amount</th>
                <td>{{ db.current_application.approved_amount | currency }}</td>
            </tr>
            <tr>
                <th>Requsted funding from</th>
                <td>
                    <span class="label label-default" style="margin-right: 5px;" ng-repeat="f in db.current_application.funder">
                        {{ db.groups_by_id[f].name }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>Contact info</th>
                <td>
                    <p><strong>Email:</strong> {{ db.users_by_id[db.current_application.contact].email }}</p>
                    <p><strong>Phone:</strong> {{ db.current_application.contact_phone }}</p>
                    <p><strong>Position:</strong> {{ db.current_application.contact_position }}</p>
                </td>
            </tr>
            <tr>
                <th>Event info</th>
                <td>
                    <p><strong>Name:</strong> {{ db.current_application.event_name }}</p>
                    <p><strong>Location:</strong> {{ db.current_application.event_location }}</p>
                    <p><strong>Time:</strong> {{ db.current_application.event_time | date:'medium' }}</p>
                    <p><strong>Recurring:</strong> {{ db.current_application.event_recurring ? 'yes' : 'no' }}</p>
                    <p><strong>Attendance:</strong> {{ db.current_application.event_attendance }}</p>
                </td>
            </tr>
            <tr>
                <th>Event Audience</th>
                <td ng-bind="db.current_application.event_audience"> </td>
            </tr>
            <tr>
                <th>Event Description</th>
                <td ng-bind="db.current_application.event_description"> </td>
            </tr>
            <tr>
                <th>Event Advertising</th>
                <td ng-bind="db.current_application.event_advertisement"> </td>
            </tr>
            <tr>
                <th>Alternate funding options</th>
                <td ng-bind="db.current_application.alternate_funding"> </td>
            </tr>
            <tr>
                <th>Last resorts</th>
                <td ng-bind="db.current_application.alternate_plans"> </td>
            </tr>
            <tr>
                <th>Advisor advice</th>
                <td ng-bind="db.current_application.advisor_advice"> </td>
            </tr>
            <tr>
                <th>Endorsement</th>
                <td ng-bind="db.current_application.endorsement"></td>
            </tr>
            <tr>
                <th>Editors</th>
                <td>{{ db.current_application.editors.join(","); }}</td>
            </tr>
            <tr>
                <th>Attachments</th>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="a in db.current_application.attachments">
                            <a href="{{ MEDIA_URL }}{{ a.attachment }}" title="{{ a.name }}" target="_blank">{{ a.name }}</a>
                            <span class="glyphicon glyphicon-remove pull-right"
                                  style="cursor: pointer;" ng-show="can_edit()"
                                  ng-click="deleteFile(a.id)"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Notes</th>
                <td ng-bind="db.current_application.notes" ng-show="db.current_application.notes">
                </td>
            </tr>
        </table>
    </div>
    <div class="row" ng-if="current_user.on_council || db.current_application.editors.indexOf(current_user.email) > -1">
        <div class="col-md-12">
            <div ng-if="db.current_application.status == 'PEND'">
                <div class="btn btn-default" ng-file-select="uploadFile($files)" data-multiple>Add attachment</div>
                <a href="#/jccc/{{ db.current_application.id }}/edit" class="btn btn-default">Edit</a>
                <a ng-click="submitApplication()" class="btn btn-default">Submit</a>
                <a ng-click="endorseApplication()" class="btn btn-default" ng-show="can_endorse()">Endorse</a>
            </div>
            <div ng-if="db.current_application.status == 'SUBM' && current_user.on_council">
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="db.current_application.scheduled_time" bs-datepicker>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="db.current_application.scheduled_time" bs-timepicker>
                    </div>
                    <div class="col-md-4">
                        <a ng-click="scheduleApplication()" class="btn btn-default" ng-disabled="!db.current_application.scheduled_time">Schedule</a>
                    </div>
                </div>
            </div>
            <div ng-if="db.current_application.status == 'SCHD' && current_user.on_council">
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="db.current_application.scheduled_time" bs-datepicker>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="db.current_application.scheduled_time" bs-timepicker>
                    </div>
                    <div class="col-md-4">
                        <a ng-click="scheduleApplication()" class="btn btn-default" ng-disabled="!db.current_application.scheduled_time">reschedule</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea name="notes" class="form-control" ng-model="db.notes">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="approved_amount">Approved amount</label>
                    <input type="number" name="approved_amount" class="form-control" ng-model="db.current_application.approved_amount">
                </div>

                <a ng-click="approveApplication()" class="btn btn-success" ng-disabled="!db.current_application.approved_amount && !db.notes">Approve</a>
                <a ng-click="denyApplication()" class="btn btn-danger" ng-disabled="!db.notes">Deny</a>
            </div>
        </div>
    </div>
</div>
